RewriteEngine On

# Si el directorio o archivo no existe, continúa con la reescritura
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir todas las peticiones al index.php
RewriteRule ^(.*)$ index.php [QSA,L] 